@using AspNetCoreIdentityVS19.Extensions

@{
    ViewData["Title"] = "Segredo!";
}
<h1>@ViewData["Title"]</h1>

<p>Página com acesso apenas aos usuários permitidos.</p>

<!-- O texto aparece apenas para quem tem o value "Adicionar" -->
@{
    if (this.IfClaim(claimName: "Produtos", claimValue: "Adicionar"))
    {
        <p>Você só verá isso se tiver permissão de adicionar!</p>
    }
}

<!-- o botão aparece apenas para quem tem o value "Adicionar" -->
<div>
    @Html.ActionLink(linkText: "Secret", actionName: "Secret").IfClaimShow(Context, claimName: "Produtos", claimValue: "Adicionar")
</div>

<br />

<!-- o botão fica desabilitado para quem não tem o value "Adicionar" -->
<div>
    <a href="#" class="btn bnt-danger @Html.Raw(this.IfClaimShow(claimName:"Produtos", claimValue: "Adicionar"))">Excluir</a>
</div>
